USE [master]
GO
/****** Object:  Database [SaleSystem]    Script Date: 6/13/2021 11:09:21 PM ******/
CREATE DATABASE [SaleSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaleSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SaleSystem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaleSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SaleSystem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaleSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaleSystem]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/13/2021 11:09:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeDetails]    Script Date: 6/13/2021 11:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetails](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[Empname] [nvarchar](50) NOT NULL,
	[EmpAddress] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
 CONSTRAINT [PK_EmployeeDetails] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 6/13/2021 11:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[ProductId] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 0) NULL,
	[VATAmount] [decimal](18, 0) NULL,
	[InvoiceTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 6/13/2021 11:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProdName] [varchar](50) NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[availableQuantity] [int] NOT NULL,
	[ProdImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productsdetails]    Script Date: 6/13/2021 11:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productsdetails](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProdName] [nvarchar](max) NOT NULL,
	[UnitPrice] [int] NOT NULL,
	[availableQuantity] [int] NOT NULL,
	[ProdImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Productsdetails] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Productsdetails] ON 

INSERT [dbo].[Productsdetails] ([ProductId], [ProdName], [UnitPrice], [availableQuantity], [ProdImagePath]) VALUES (1, N'Keyboard', 120, 10, NULL)
INSERT [dbo].[Productsdetails] ([ProductId], [ProdName], [UnitPrice], [availableQuantity], [ProdImagePath]) VALUES (2, N'Mouse', 450, 5, N'')
INSERT [dbo].[Productsdetails] ([ProductId], [ProdName], [UnitPrice], [availableQuantity], [ProdImagePath]) VALUES (3, N'Speaker', 900, 6, N'')
SET IDENTITY_INSERT [dbo].[Productsdetails] OFF
USE [master]
GO
